Wordpress theme and plugin coder with JavaScript and PHP coding experience required to make Easy Digital Downloads work with a custom post type within my existing Wordpress theme. -- 2 _ Freelancer_files
Wordpress theme and plugin coder with JavaScript and PHP coding experience required to make Easy Digital Downloads work with a custom post type within my existing Wordpress theme. -- 2 _ Freelancer.html